/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }

   body {
   	line-height: 1;
   }

   ol, ul {
   	list-style: none;
   }

   blockquote, q {
   	quotes: none;
   }

   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }

   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }


   /*Perfil*/

   *{

      font-family: 'Oswald', sans-serif;
   }

   body{
      background-color: #DCDCDC;
   }

   h4{
      color: white;
      margin-left: 35%;
      margin-top: 5%;
     
   }

   .fa-user-circle:before{
      width: 50px;
      height: 50px;
   }


   .navbar-default{
      background-color: #3e3f41;
   }

   .navbar-collapse{
      background-color: white;   
   }


   img{
      width: 150px;
      height: 150px;
      color: #a9a9ab;
      text-decoration: none;
      margin-top: 8%;
   }

   .fa-dollar:before, .fa-usd:before {
    color: #f6a800;
    margin-left: 150%;
 }

 .fa-th:before{
   color: #f6a800;
   margin-left: 150%;
}

.fa-user:before{
   color: #f6a800;
   margin-left: 150%;
}

.fa-align-justify:before{
   color: #f6a800;
   margin-left: 150%;
}

.fa-long-arrow-right:before{
   color: #f6a800;
   margin-left: 150%;
}

#perfil{
   background-color: #FCBE24;
  
}

.text-uppercase{
float: left;
margin-right: 40%;
margin-top: 8%;
color: #3e3f41;
}

.navbar{
   margin-bottom: 0;
}

#tarjetas{
   background-color: #DCDCDC;
}

.text-uppercase{
   font-size: 10px;
}

a:-webkit-any-link{
   margin-left: 10%;
}

.btn-default{
   padding: 8px 60px;
   color: white;
   background-color: #FCBE24;
   border: none;
   border-radius: 0;
   margin-top: 1%;
}
   
input{
   margin-top: 10%;
   color:  #3e3f41;
   border: none;
   padding: 8px 35px;
   text-align: center;
}

#numero{
   background-color: #DCDCDC;
}

#agregar-tarjeta{
   background-color: #DCDCDC;
   border: none;
   text-decoration: none;
   border-radius: 0;
}

