/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }

   body {
   	line-height: 1;
   }

   ol, ul {
   	list-style: none;
   }

   blockquote, q {
   	quotes: none;
   }

   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }

   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }


   /*saldo*/

*{
	font-family: 'Oswald', sans-serif;
}

body{
	background-color: #DCDCDC;
	width: 100%;
}



.navbar-default{
	background-color: #3e3f41 ;
}

.navbar-collapse{
	background-color: white;	
}

.fa-dollar:before, .fa-usd:before {
	color: #f6a800;
	margin-left: 150%;
}

.fa-th:before{
	color: #f6a800;
	margin-left: 150%;
}

.fa-user:before{
	color: #f6a800;
	margin-left: 150%;
}

.fa-align-justify:before{
	color: #f6a800;
	margin-left: 150%;
}

.fa-long-arrow-right:before{
	color: #f6a800;
	margin-left: 150%;
}

a:-webkit-any-link{
	margin-left: 10%;
}



.btn-default{
	background-color: #f6a800;
	color: white;
	margin-top: 40%;
	border: none;
	border-radius: 0;
	padding: 8px 90px;
	font-size: 18px;
}

#boton-dos{
	background-color: #f6a800;
	color: white;
	margin-top: 4%;
	border: none;
	border-radius: 0;
	padding: 8px 58px;
	font-size: 18px;
}

#boton-tres{
	background-color: #f6a800;
	color: white;
	margin-top: 4%;
	border: none;
	border-radius: 0;
	padding: 8px 111px;
	font-size: 18px;
}

#boton-cuatro{
	background-color: #f6a800;
	color: white;
	margin-top: 4%;
	border: none;
	border-radius: 0;
	padding: 8px 28px;
	font-size: 18px;
}

#boton-cinco{
   background-color: #f6a800;
   color: white;
   margin-top: 4%;
   border: none;
   border-radius: 0;
   padding: 8px 115px;
   font-size: 18px;
}

h4{
   text-align: center;
   color: white;
   margin-top: 5%;
}