
body{
	background-color: #a9a9ab;
	width: 100%;
}

h4{
	color: white;
	margin-left: 24%;
	margin-top: 5%;
}

.navbar-default{
	background-color: #3e3f41 ;
}

.navbar-collapse{
	background-color: white;	
}

.fa-dollar:before, .fa-usd:before {
	color: #f6a800;
	margin-left: 150%;
}

.fa-th:before{
	color: #f6a800;
	margin-left: 150%;
}

.fa-user:before{
	color: #f6a800;
	margin-left: 150%;
}

.fa-align-justify:before{
	color: #f6a800;
	margin-left: 150%;
}

.fa-long-arrow-right:before{
	color: #f6a800;
	margin-left: 150%;
}

a:-webkit-any-link{
	margin-left: 10%;
}



.btn-default{
	background-color: #f6a800;
	color: white;
	margin-top: 40%;
	border: none;
	border-radius: 0;
	padding: 8px 90px;
	font-size: 18px;
}

#boton-dos{
	background-color: #f6a800;
	color: white;
	margin-top: 4%;
	border: none;
	border-radius: 0;
	padding: 8px 60px;
	font-size: 18px;
}

#boton-tres{
	background-color: #f6a800;
	color: white;
	margin-top: 4%;
	border: none;
	border-radius: 0;
	padding: 8px 111px;
	font-size: 18px;
}

#boton-cuatro{
	background-color: #f6a800;
	color: white;
	margin-top: 4%;
	border: none;
	border-radius: 0;
	padding: 8px 23px;
	font-size: 18px;
}